@import "tailwindcss";

* {
  box-sizing: border-box;

}

.hexagon-container {
  position: absolute;

  width: 100px;
  height: 55px;
  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  overflow: hidden;
  width: 100%;
  height: 100%;
}


.hexagon {
  width: 65px; /* same as hexagon width */
  height: 45px; /* same as hexagon height */
  /* clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); */
  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
}
.container {
  display: grid;
    width: 350px;
    height:340px;
    grid-gap: 0.5px;
    gap: 0.5px;
}

.xx{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  font-family: Tajawal;
  zoom: 90%;
}
html{
<<<<<<< HEAD
  background-color: black;
}

.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
=======
  background-color: #212121;
}
>>>>>>> df98a26d4e792a985ef85c30886d367616eaa35a
