@import "tailwindcss";

* {
  box-sizing: border-box;

}

.hexagon-container {
  display: inline-block;
  margin: 5px;
  position: relative;
  width: 100px; /* same as hexagon width */
  height: 55px; /* same as hexagon height */
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  border: 2px solid black; /* Add a border around the hexagon */
  overflow: hidden; /* Hide anything outside the hexagon shape */
  overflow: hidden; /* Hide anything outside the hexagon shape */
}

.hexagon {
  width: 80px; /* same as hexagon width */
  height: 55px; /* same as hexagon height */
  /* clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); */
  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
}
.container {
  display: grid;
    width: 400px;
    height:370px;
    grid-gap: 0.5px;
    gap: 0.5px;
}

.xx{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  font-family: Tajawal;
  zoom: 75%;
}
html{
  background-color: black;
}